<section class="category">
  <div class="category-header">
    <img src="/assets/img/category-header.png" class="img-fluid" alt="studio">
    <div  class="category-header-title d-flex  justify-content-center align-items-center">

      <div *ngIf="productList.length > 0; else error">
        <p>{{categoryName}}</p>
      </div>
    </div>
  </div>
  <div class="album py-4">
    <div class="container">
      <div class="row">
        <div *ngFor="let product of productList" class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <img class="category-producy-img" src="{{product.thumbnail}}" [routerLink]="['/product',product.id]" width="100%" height="180" alt="">
            <div class="card-body">
              <h4 class="card-text">{{product.name}}</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">{{product.price| currency:'PLN': true:'1.0'}}</p>
                <div class="btn-group">
                  <a class="category-cart-icon d-flex align-items-center justify-content-center" [routerLink]="['/product',product.id]">
                    <span class="iconify" data-inline="false" data-icon="ic:round-navigate-next" style="color: #ffffff; font-size: 28px;"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div *ngIf="productList.length > 0; else error">
        <ngb-pagination
          [collectionSize]="totalElements"
          [(page)]="page"
          (pageChange)="loadProduct()"
          aria-label="pagination"
          class="d-flex justify-content-end"></ngb-pagination>
      </div>
      <ng-template #error><div class="text-center">Brak produktów w tej kateogorii.</div></ng-template>
    </div>
  </div>
</section>
