<section>
  <div class="home-header">
    <img src="/assets/img/header-headphone.jpg" class="img-fluid" alt="header">
  </div>
  <div class="home-advantages py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-md-4">
          <div class="d-flex justify-content-center">
            <div class="col-md-2">
              <span class="iconify" data-inline="false" data-icon="la:shipping-fast" style="font-size: 50px;"></span>
            </div>
            <div class="col-md-9">
              <h4>Darmowa dostawa</h4>
              <p>Darmowa powyżej 200zł</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-4">
          <div class="d-flex justify-content-center">
            <div class="col-md-2">
              <span class="iconify" data-inline="false" data-icon="dashicons:money-alt" style="font-size: 50px;"></span>
            </div>
            <div class="col-md-9">
              <h4>Darmowa dostawa</h4>
              <p>Darmowa powyżej 200zł</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-4">
          <div class="d-flex justify-content-center">
            <div class="col-md-2">
              <span class="iconify" data-inline="false" data-icon="fluent:headset-20-regular" style="font-size: 50px;"></span>
            </div>
            <div class="col-md-9">
              <h4>Darmowa dostawa</h4>
              <p>Darmowa powyżej 200zł</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

