<section>
  <div class="home-header">
    <img src="/assets/img/header-headphone.jpg" class="img-fluid header-img" alt="header">
  </div>
  <div class="home-advantages py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-4 py-1">
          <div class="d-flex justify-content-center">
            <div class="col-4 col-sm-3 col-md-2">
              <span class="iconify" data-inline="false" data-icon="la:shipping-fast" style="font-size: 50px;"></span>
            </div>
            <div class="col-8 col-sm-9 col-md-9">
              <h5>Darmowa dostawa</h5>
              <span>Darmowa powyżej 300 zł</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-4 py-1">
          <div class="d-flex justify-content-center">
            <div class="col-4 col-sm-3 col-md-2">
              <span class="iconify" data-inline="false" data-icon="dashicons:money-alt" style="font-size: 50px;"></span>
            </div>
            <div class="col-8 col-sm-9 col-md-9">
              <h5>Gwarancja zwrotu pieniędzy</h5>
              <span>30 dni na zwrot zamówienia</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-4 py-1">
          <div class="d-flex justify-content-center">
            <div class="col-4 col-sm-3 col-md-2">
              <span class="iconify" data-inline="false" data-icon="fluent:headset-20-regular" style="font-size: 50px;"></span>
            </div>
            <div class="col-8 col-sm-9 col-md-9">
              <h5>05-090-1460-1403-5410</h5>
              <span>Pomoc dostępna 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

