<section class="orderl">
  <h2>Zamówienia</h2>
  <div *ngIf="orderList.length > 0; else error" >
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Użytkownik</th>
          <th scope="col">Status</th>
          <th scope="col">Kwota</th>
          <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderList; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ order.client.firstName}} {{ order.client.lastName}}</td>
          <td>{{ order.status.name}}</td>
          <td>{{ order.grandTotal | currency:'zł': true:'1.0'}}</td>
          <td [routerLink]="['/employee/order',order.id]">
          <span
            class="iconify pointer"
            data-icon="clarity:note-edit-line"
            data-inline="false"
            data-width="30px"
            data-height="30px"
          ></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
        [collectionSize]="totalElements"
        [(page)]="page"
        (pageChange)="loadProduct()"
        aria-label="pagination"></ngb-pagination>
  </div>
  <ng-template #error ><div class="text-center">Brak zamówień.</div></ng-template>
</section>
