<section class="orderd py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-2">
        <h3 class="card-text">Zamówienie</h3>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card shadow-sm">
          <div class="table-responsive">
            <table class="table table-striped margin-0">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zdjęcie</th>
                  <th scope="col">Nazwa</th>
                  <th scope="col">Ilość</th>
                  <th scope="col">Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of order?.productOrder; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td><img src="{{ cart?.product.thumbnail }}" class="cart-thumbnail img-fluid" alt=""></td>
                  <td><span role="button" [routerLink]="['/product',cart?.product.id]">{{ cart?.product.brand.name }} {{ cart?.product.name }}</span></td>
                  <td>{{ cart?.quantity }}</td>
                  <td>{{ cart?.product.price | currency:'zł': true:'1.0' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="p-4" *ngIf="order?.productOrder.length == 0">Brak produktów w zamówieniu</div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card p-4 shadow-sm">
          <h3 class="card-text mb-3">Dane użytkownika</h3>
          <div class="my-2"><span class="font-weight-bold">Imie i nazwisko:</span> {{order?.client.firstName}} {{order?.client.lastName}}</div>
          <div class="my-2"><span class="font-weight-bold">Adres:</span> {{order?.client.address}} {{order?.client.city}}</div>
          <div class="my-2"><span class="font-weight-bold">Numer kontaktowy:</span> {{order?.client.phoneNumber}}</div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card p-4 shadow-sm">
          <h3 class="card-text mb-4">Twoja notatka do zamówienia</h3>
            <div class="form-group">
              <label for="note" class="sr-only">Notatka</label>
              <textarea rows="3" class="form-control" id="note" placeholder="Notatka do zamówienia" [value]="order?.note" disabled></textarea>
            </div>
        </div>
      </div>
      <form class="col-md-12 pt-4" [formGroup]="statusForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="container">
          <div class="row d-flex justify-content-md-between">
            <div class="col-md-7 card mr-md-2 py-4 px-4 shadow-sm">
                <div formGroupName="status" class="form-group  row">
                  <label class="col-sm-3 col-form-label" for="statusInput">Status</label>
                  <div class="col-sm-9">
                    <select formControlName="id" class="form-control" id="statusInput">
                      <option *ngFor="let status of statusList" [value]="status.id">{{status?.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="getControl.status.get('id').touched && getControl.status.get('id').invalid" class="text-danger">
                    <div *ngIf="getControl.status.get('id').errors.required">Pole jest wymagane.</div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 card ml-md-2 mt-4 mt-md-0 py-4 px-4 shadow-sm">
              <div *ngIf="order?.productOrder.length > 0; else error">
                <div class="text-right">
                  <div class="mb-2">Do zapłaty:</div>
                  <h4>{{order.grandTotal | currency:'zł': true:'1.0'}}</h4></div>
              </div>
              <ng-template #error>Brak produktów w zamówieniu.</ng-template>
            </div>
            <div class="col-md-12 d-flex justify-content-end py-4">
              <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
            <div *ngIf="isResponseOrderStatus" class="text-success w-100">
              <ngb-alert [dismissible]="false" [type]="'success'">Status został zaktualizowany.</ngb-alert>
            </div>
            <div *ngIf="isResponseOrderStatus==false" class="text-danger w-100">
              <ngb-alert [dismissible]="false" [type]="'danger'">Wystąpił błąd. Status nie został zaktualizowany.</ngb-alert>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
