<section class="proudct-e">
  <div class="container">
    <div class="row align-self-center w-100">
      <div class="col-12 mx-auto">
        <h3 class="my-3 text-center">{{ editMode ? 'Edycja produktu' : 'Dodawanie produktu' }}</h3>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nameInput">Nazwa</label>
              <input formControlName="name" type="text" class="form-control" id="nameInput"  placeholder="Nazwa">
              <div *ngIf="getControl.name.touched && getControl.name.invalid" class="text-danger">
                <div *ngIf="getControl.name.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="priceInput">Cena</label>
              <input formControlName="price" type="text" class="form-control" id="priceInput" placeholder="Cena">
              <div *ngIf="getControl.price.touched && getControl.price.invalid" class="text-danger">
                <div *ngIf="getControl.price.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="quantityInput">Ilość w magazynie</label>
              <input formControlName="quantity" type="text" class="form-control" id="quantityInput" placeholder="Ilość w magazynie">
              <div *ngIf="getControl.quantity.touched && getControl.quantity.invalid" class="text-danger">
                <div *ngIf="getControl.quantity.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div formGroupName="category" class="form-group col-md-6">
              <label for="categoryInput">Kategoria</label>
              <select formControlName="id" class="form-control" id="categoryInput">
                <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
              </select>
              <div *ngIf="getControl.category.touched && getControl.category.invalid" class="text-danger">
                <div *ngIf="getControl.category.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
            <div formGroupName="brand" class="form-group col-md-6">
              <label for="brandInput">Firma</label>
              <select formControlName="id" class="form-control" id="brandInput">
                <option *ngFor="let brand of brandList" [value]="brand.id">{{brand.name}}</option>
              </select>
              <div *ngIf="getControl.brand.touched && getControl.brand.invalid" class="text-danger">
                <div *ngIf="getControl.brand.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="thumbnailInput">Adres URL zdjęcia produktu</label>
              <input formControlName="thumbnail" type="text" class="form-control" id="thumbnailInput"  placeholder="Zdjęcie">

              <div *ngIf="getControl.thumbnail.touched && getControl.thumbnail.invalid" class="text-danger">
                <div *ngIf="getControl.thumbnail.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="eanCodeInput">Kod EAN produktu</label>
              <input formControlName="eanCode" type="text" class="form-control" id="eanCodeInput"  placeholder="EAN produktu">
              <div *ngIf="getControl.eanCode.touched && getControl.eanCode.invalid" class="text-danger">
                <div *ngIf="getControl.eanCode.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="descriptionTextarea">Opis produktu</label>
              <app-text-editor class="text-editor" [control]="descriptionControl" id="descriptionTextarea"></app-text-editor>
              <div *ngIf="getControl.description.touched && getControl.description.invalid" class="text-danger">
                <div *ngIf="getControl.description.errors.required">Pole jest wymagane.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary w-100">{{editMode? 'Zapisz produkt' : 'Dodaj produkt'}}</button>
              <div *ngIf="responseMessage" class="text-success my-2">
                <ngb-alert [dismissible]="false" [type]="'success'">{{editMode? 'Zapisano produkt' : 'Dodano produkt'}}.</ngb-alert>
              </div>
              <div *ngIf="responseMessage==false" class="text-danger my-2">
                <ngb-alert [dismissible]="false" [type]="'danger'">Wystąpił błąd.</ngb-alert>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
