.footer{
  &-list{
    li{
      line-height: 1.8rem;
    }
  }
  &-contact{
    line-height: 1.8rem;
  }
  &-light{
    background: #E4E3E3;
  }
  &-dark{
    background: #474141;
    color: #e5e5e5;
  }
}
