<section class="product-l">
  <h2 class="text-center my-4">Produkty w sklepie</h2>
  <div class="d-flex justify-content-end">
    <button
      [routerLink]="['/employee/product/new']"
      class="btn btn-primary mx-1 my-2">
      Dodaj produkt
    </button>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="d-inline-block col-1" scope="col">#</th>
          <th class="d-inline-block col-2" scope="col">Zdjecie</th>
          <th class="d-inline-block col-6" scope="col">Nazwa</th>
          <th class="d-inline-block col-1" scope="col">Ilość</th>
          <th class="d-inline-block col-1" scope="col">Cena</th>
          <th class="d-inline-block col-1" scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productList; index as i">
          <th class="d-inline-block col-1" scope="row">{{ i + 1 }}</th>
          <td class="d-inline-block col-2"><img src="{{ product?.thumbnail }}" class="cart-thumbnail img-fluid" alt=""></td>
          <td class="d-inline-block col-6">{{ product?.brand.name }} {{product?.name }}</td>
          <td class="d-inline-block col-1">{{ product?.quantity }}</td>
          <td class="d-inline-block col-1">{{ product?.price }}</td>
          <td class="d-inline-block col-1" [routerLink]="['/employee/product/',product.id,'edit']">
          <span
            class="iconify"
            data-icon="clarity:note-edit-line"
            data-inline="false"
            data-width="30px"
            data-height="30px"
          ></span>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="productList.length > 0; else error">
        <ngb-pagination
          [collectionSize]="totalElements"
          [(page)]="page"
          (pageChange)="loadProduct()"
          aria-label="pagination"
          class="d-flex justify-content-end"></ngb-pagination>
      </div>
      <ng-template #error><div class="text-center">Brak produktów</div></ng-template>
    </div>
  </div>
</section>
