<nav class="header">
  <section>
    <ngb-alert [dismissible]="false" class="d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-1">
          <span class="iconify header-warning" data-icon="ant-design:warning-outlined"></span>
        </div>
        <div class="col-11">
          <div class="d-flex flex-column pl-4 pl-md-1">
            <span class="header-warning-text">Jest to tylko <strong>wersja demonstracyjna</strong> strony sklepu internetowego. <strong>Nie podawaj żadnych danych osobistych!</strong></span>
            <span class="header-warning-text">This is only a <strong>demo version</strong> of the online store website. <strong>Do not enter any personal information!</strong></span>
          </div>
        </div>
      </div>
    </ngb-alert>
  </section>
  <section class="navbar navbar-light header-main">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'.'">ProMusic</a>
      <div class="header-footer-icon">
        <ul class="header-navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="isMenuCollapsed = true">
              <div ngbDropdown
                   class="d-inline-block float_right"
                   placement="bottom-right"
                   display="dynamic">
                <div class="header-account d-flex flex-column justify-content-center align-items-center" id="dropdownAccount" ngbDropdownToggle>
                  <span class="iconify" data-inline="false" data-icon="ph:user-light" style="font-size: 26px;"></span>
                  Twoje konto
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownAccount">
                  <button *ngIf="isAuthorized()" [routerLink]="'my-account'"  ngbDropdownItem>Twoje konto</button>
                  <button *ngIf="isEmployee()" [routerLink]="'employee'"  ngbDropdownItem>Panel pracownika</button>
                  <button *ngIf="!isAuthorized()" [routerLink]="'login'"  ngbDropdownItem>Zaloguj się</button>
                  <button *ngIf="isAuthorized()" (click)="logout()"  ngbDropdownItem>Wyloguj</button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" *ngIf="isClient()">
            <a class="nav-link" [routerLink]="'cart'" (click)="isMenuCollapsed = true">
              <div class="d-flex flex-column justify-content-center align-items-center header-badge-wrapper">
                <div class="d-flex justify-content-center align-items-center header-badge" id="#lblCartCount">
                  {{showSizeProducts()}}
                </div>
                <span class="iconify" data-inline="false" data-icon="ph:shopping-cart-light" style="font-size: 26px;"></span>
                Twój koszyk
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="navbar  navbar-expand-lg navbar-light header-category">
    <div class="container">
      <button class="navbar-toggler text-white navbar-hamburger" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center mt-3 mt-lg-0">
        <ul class="navbar-nav">
          <li *ngFor="let category of categoryMenu" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/category',category?.slug]" (click)="isMenuCollapsed = true">{{category?.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</nav>

