@import '~src/variables.scss';
.header{
  &-main{
    background: #FFFFFF;
    .navbar-brand{
      color: $accent-color;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .header-footer-icon {
      display: flex !important;
      flex-basis: auto;
    }
    .header-navbar-nav {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      .nav-item {
        .nav-link {
          color: #000000;
        }
      }
    }
  }
  &-category {
    padding: 0;
    background: $accent-color;
    .navbar-nav {
      .nav-link {
        color: #FFFFFF;
        letter-spacing: 0.2px;
      }
      li {
        padding: 8px!important;
        &.active{
          background-color: rgba(255, 249, 249, 0.15);
        }
      }
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        font-weight: 700;
      }
    }
  }
  &-badge-wrapper {
    position: relative;
  }

  &-badge {
    font-size: .6rem;
    position: absolute;
    top: -5px;
    right: 25px;
    width: 17px;
    height: 17px;

    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: $accent-color;
    border-radius: 50%;
    z-index: 1000;
  }
  &-account{
   cursor: pointer;
  }
}
