<nav class="header">
  <section class="navbar navbar-light header-main">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'.'">ProMusic</a>
      <div class="header-footer-icon">
        <ul class="header-navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="isMenuCollapsed = true">
              <div ngbDropdown class="d-inline-block">
                <div class="header-account d-flex flex-column justify-content-center align-items-center" id="dropdownAccount" ngbDropdownToggle>
                  <span class="iconify" data-inline="false" data-icon="ph:user-light" style="font-size: 26px;"></span>
                  Twoje konto
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownAccount">
                  <button *ngIf="isAuthorized()" [routerLink]="'my-account'"  ngbDropdownItem>Twoje konto</button>
                  <button *ngIf="isEmployee()" [routerLink]="'employee'"  ngbDropdownItem>Panel pracownika</button>
                  <button *ngIf="!isAuthorized()" [routerLink]="'login'"  ngbDropdownItem>Zaloguj</button>
                  <button *ngIf="isAuthorized()" (click)="logout()"  ngbDropdownItem>Wyloguj</button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" *ngIf="isClient()">
            <a class="nav-link" [routerLink]="'cart'" (click)="isMenuCollapsed = true">
              <div class="d-flex flex-column justify-content-center align-items-center header-badge-wrapper">
                <div class="d-flex justify-content-center align-items-center header-badge" id="#lblCartCount">
                  {{showSizeProducts()}}
                </div>
                <span class="iconify" data-inline="false" data-icon="ph:shopping-cart-light" style="font-size: 26px;"></span>
                Twój koszyk
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="navbar  navbar-expand-lg navbar-light header-category">
    <div class="container">
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav ">
          <li *ngFor="let category of categoryMenu" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/category',category?.slug]" (click)="isMenuCollapsed = true">{{category?.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</nav>
