@import '~src/variables.scss';
.cart{
  @include min-height;
}
.cart-inline-block{
  display: inline
}
.icon{
  background: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
}
.cart-transparent{
  opacity: 15%;
}
.product-img-column{
  width: 240px;
}
