@import '~src/variables.scss';
.cart{
  @include min-height;
}
.cart-thumbnail{
  width:20vh;
}
.cart-inline-block{
  display: inline
}
.icon{
  background: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  width: 30px;
  height: 30px;
}
.cart-transparent{
opacity: 15%;
}
