@import '~src/variables.scss';
.pd{
  @include min-height;
  background-color: #FAFAFA;
  .card-no-border{
    border: 0px solid rgba(0, 0, 0, 1);
  }
}
:host quill-view ::ng-deep .ql-container{
  font-size: 16px;
}
:host quill-view ::ng-deep .ql-editor{
  padding: 0;
}
