<section class="pd py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-2">
        <h3 class="card-text">{{product?.brand.name}} {{product?.name}}</h3>
      </div>
      <div class="col-md-9">
        <div class="card mb-4 shadow-sm">
          <img src="{{product?.thumbnail}}" class="card-img-top" width="100%" height="480" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="card py-4 px-4  shadow-sm">
          <h3 class="text-right">{{product?.price| currency:'zł': true:'1.0'}}</h3>
          <p class="text-right">Dostępność: {{product?.quantity}} sztuk</p>
          <p class="text-right">Producent: {{product?.brand.name}}</p>
          <p class="text-right">EAN-CODE: {{product?.eanCode}}</p>
          <p class="text-right">Darmowa dostawa od 300zł</p>

          <div *ngIf="isClient(); else employee">
            <button type="submit"
                    class="btn btn-primary  w-100"
                    [disabled]="!this.isClient"
                    (click)="setProduct(product?.id)">Dodaj do koszyka</button>
          </div>
          <ng-template #employee>
            <ng-container *ngIf="isEmployee(); else unauthorized">
              <a *ngIf="isEmployee()" [routerLink]="'/login'">Aby kupić zaloguj sie jako klient</a>
            </ng-container>
          </ng-template>
          <ng-template #unauthorized>
            <a [routerLink]="'/login'">Aby kupić zaloguj sie</a>
          </ng-template>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card py-4 px-4 shadow-sm">
          <span class="card-text">
            <quill-view [sanitize]="true" [content]="product?.description" format="html" theme="snow"></quill-view>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
