@import '~src/variables.scss';
.order {
  @include min-height;
}
.margin-0{
  margin-bottom:1px;
}
.table-responsive{
  overflow-x: hidden;
}
.bg-spinner{
  background-color: rgba(0, 0, 0, 0.09);
  z-index: 1000;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%; /*otherwise div defaults to page width*/
  margin: 0 auto; /*horizontally centers div*/
}
.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $accent-color;
  border-color: $accent-color transparent $accent-color transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
