<section class="order">
  <div class=" py-5">
    <div class="container">
      <div class="row" *ngIf="!orderIsSuccessful">
        <div class="col-md-12 my-2">
          <h3 class="card-text mb-3">Zamówienie</h3>
        </div>
        <div class="col-md-9">
          <div class="card shadow-sm">
            <div class="table-responsive">
              <table class="table table-striped margin-0">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Zdjęcie</th>
                  <th scope="col">Nazwa</th>
                  <th scope="col">Ilość</th>
                  <th scope="col">Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cart of getProductOrder; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td><img src="{{ cart.product?.thumbnail }}" class="cart-thumbnail img-fluid" alt=""></td>
                  <td>{{ cart?.product.brand.name }} {{ cart.product?.name }}</td>
                  <td>{{ cart?.quantity }}</td>
                  <td>{{ cart.product?.price | currency:'zł': true:'1.0'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="p-4 " *ngIf="getProductOrder.length == 0">Brak produktów w zamówieniu</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card py-4 px-4 shadow-sm">
            <div *ngIf="getProductOrder.length > 0; else error">
              <div class="text-right">
                <div class="mb-2">Do zapłaty: </div>
                <h3>{{getGrandTotal | currency:'zł': true:'1.0'}}</h3>
              </div>
            </div>
            <ng-template #error>Brak produktów w zamówieniu.</ng-template>
          </div>
        </div>
        <div class="col-md-12 my-4 ">
          <div class="card p-4 shadow-sm">
            <h3 class="card-text mb-4">Twoje dane</h3>
            <div class="my-2"><span class="font-weight-bold">Imie i nazwisko:</span> {{userInfo?.firstName}} {{userInfo?.lastName}}</div>
            <div class="my-2"><span class="font-weight-bold">Adres:</span> {{userInfo?.address}} {{userInfo?.city}}</div>
            <div class="my-2"><span class="font-weight-bold">Numer kontaktowy:</span> {{userInfo?.phoneNumber}}</div>
          </div>
        </div>
        <div class="col-md-12 my-4 ">
          <div class="card p-4 shadow-sm">
            <h3 class="card-text mb-4">Twoja notatka do zamówienia</h3>
            <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-group">
                <label for="note" class="sr-only">Notatka</label>
                <textarea formControlName="note" rows="3" class="form-control" id="note" placeholder="Notatka do zamówienia"></textarea>
              </div>
              <button type="submit" [disabled]="orderIsSuccessful || getProductOrder.length == 0" class="btn btn-primary w-100">Zamów</button>
              <div *ngIf="orderIsSuccessful==false" class="text-danger mt-2">
                <ngb-alert [dismissible]="false" [type]="'danger'">Wystąpił błąd. Twoje zamówienie nie zostało złożone.</ngb-alert>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="orderIsSuccessful">
        <div class="col-md-12 my-2">
          <h3 class="card-text">Zamówienie</h3>
        </div>
        <div class="col-md-12 my-2">
          <div class="mt-2 w-100">
            <div *ngIf="demoActive;then demoActive else demoDisable"></div>
            <ng-template #demoActive><ngb-alert [dismissible]="false" [type]="'warning'">Jesteś w trybie demo. Testowe zamówienie zostało złożone.</ngb-alert></ng-template>
            <ng-template #demoDisable><ngb-alert [dismissible]="false" [type]="'success'">Twoje zamówienie zostało złożone.</ngb-alert></ng-template>
          </div>
          <p class="text-success">Opłać zamówienie, wykonując przelew na podane konto. Po zaksięgowaniu płatności wyślemy zamówienie na twój adres.</p>
          <p class="text-danger">Nr konta bankowego:  <b>PL 0000 0001 0000 0000 0000 001C</b>.</p>
          <h5 class="text-center">Dziękujemy, że z nami jesteś! </h5>
        </div>
      </div>
    </div>
  </div>
</section>
